<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> Responsive Registration Form | CodingLab </title>
    <link rel="stylesheet" href="../../public/css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {{>navbar}}
    <h1 style="text-align: center; margin:20px 0px;">Welcome to Secret Page </h1>
    <div class="content">
        <div class="c1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab optio tempore iusto enim incidunt
            explicabo odit et aliquid. Commodi, velit!
            <div><button class="btn">More</button></div>
        </div>
        <div class="c1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit aperiam asperiores porro nam
            recusandae laborum optio omnis odit vitae maiores? <div><button class="btn">More</button></div>
        </div>
        <div class="c1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit aperiam asperiores porro nam
            recusandae laborum optio omnis odit vitae maiores? <div><button class="btn">More</button></div>
        </div>
    </div>

</body>

</html>